<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
        
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.generate_statistics">true</property>
        
        <property name="hibernate.jdbc.batch_size">25</property>
        
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        <mapping class="edu.wisc.my.webproxy.beans.http.WebProxyStateImpl" />
        <mapping class="edu.wisc.my.webproxy.beans.http.PersistedCookieImpl" />
        
        <class-cache class="edu.wisc.my.webproxy.beans.http.WebProxyStateImpl" usage="nonstrict-read-write"/>
        <class-cache class="edu.wisc.my.webproxy.beans.http.PersistedCookieImpl" usage="nonstrict-read-write"/>
        
        <collection-cache collection="edu.wisc.my.webproxy.beans.http.WebProxyStateImpl.cookies" usage="nonstrict-read-write"/>
    </session-factory>
</hibernate-configuration>