<?xml version="1.0" encoding="UTF-8"?>
<!--
 | Contains the bean definitions and relationships that are avalable
 | to the spring WebApplicationContext
 +-->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
    
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" lazy-init="false">
        <property name="locations">
            <list>
                <value>/WEB-INF/datasource.properties</value>
            </list>
        </property>
    </bean>
    
    <bean id="HttpManagerBean" class="edu.wisc.my.webproxy.beans.http.HttpManagerImpl" scope="prototype" />
<!-- Use this bean for Shibboleth support
    <bean id="HttpManagerBean" class="edu.wisc.my.webproxy.beans.http.ShibbolethEnabledHttpManagerImpl" scope="prototype">
      <property name="spPrivateKey" value="C:/JavaClasses/sp-key.pem"/>
      <property name="spCertificate" value="C:/JavaClasses/sp-cert.pem"/>
    </bean>
-->
    <bean id="HtmlParserBean" class="edu.wisc.my.webproxy.beans.filtering.NekoHtmlParser" scope="prototype" />
    
    <bean id="HttpManagerService" class="edu.wisc.my.webproxy.beans.http.HttpManagerService">
        <property name="webProxyStateDao" ref="webProxyStateDao"/>
    </bean>
    
    <bean id="SaxFilterBean" class="edu.wisc.my.webproxy.beans.SpringList" scope="prototype">
        <property name="wrappedList">
            <list>
                <!-- The order beans are specified in this list is reversed. The last filter will be the first executed -->
                <ref bean="FuncNameUrlFilter"/>
                <ref bean="PortletURLFilterBean"/>
                <ref bean="AbsoluteUrlFilterBean"/>
                <ref bean="ClippingFilterBean"/>
            </list>
        </property>
    </bean>
    
    <bean id="BaseUrlFilterBean" abstract="true">
        <property name="elements">
            <map>
                <entry key="A">
                    <set>
                        <value>HREF</value>
                    </set>
                </entry>
                <entry key="AREA">
                    <set>
                        <value>HREF</value>
                    </set>
                </entry>
                <entry key="BASE">
                    <set>
                        <value>HREF</value>
                    </set>
                </entry>
                <entry key="LINK">
                    <set>
                        <value>HREF</value>
                    </set>
                </entry>
                <entry key="IMG">
                    <set>
                        <value>SRC</value>
                        <value>LOWSRC</value>
                        <value>USEMAP</value>
                    </set>
                </entry>
                <entry key="EMBED">
                    <set>
                        <value>SRC</value>
                    </set>
                </entry>
                <entry key="FRAME">
                    <set>
                        <value>SRC</value>
                    </set>
                </entry>
                <entry key="SCRIPT">
                    <set>
                        <value>SRC</value>
                    </set>
                </entry>
                <entry key="Q">
                    <set>
                        <value>CITE</value>
                    </set>
                </entry>
                <entry key="INS">
                    <set>
                        <value>CITE</value>
                    </set>
                </entry>
                <entry key="DEL">
                    <set>
                        <value>CITE</value>
                    </set>
                </entry>														
                <entry key="FORM">
                    <set>
                        <value>ACTION</value>
                    </set>
                </entry>
                <entry key="META">
                    <set>
                        <value>URL</value>
                    </set>
                </entry>
                <entry key="BODY">
                    <set>
                        <value>BACKGROUND</value>
                    </set>
                </entry>
                <entry key="APPLET">
                    <set>
                        <value>CODEBASE</value>
                    </set>
                </entry>														
            </map> 
        </property>
    </bean>

    <bean id="FuncNameUrlFilter" parent="BaseUrlFilterBean" class="edu.wisc.my.webproxy.beans.filtering.FuncNameUrlFilter" scope="prototype">
    </bean>
    
    <bean id="AbsoluteUrlFilterBean" parent="BaseUrlFilterBean" class="edu.wisc.my.webproxy.beans.filtering.AbsoluteUrlFilter" scope="prototype">
    </bean>	

    <bean id="PortletURLFilterBean" parent="BaseUrlFilterBean" class="edu.wisc.my.webproxy.beans.filtering.PortletUrlFilter" scope="prototype">
	</bean>
	
    <bean id="ClippingFilterBean" class="edu.wisc.my.webproxy.beans.filtering.ClippingFilter" scope="prototype">
        <property name="acceptableQNames">
            <set>
                <value>br</value>
                <value>img</value>
                <value>meta</value>
                <value>link</value>
                <value>input</value>
                <value>col</value>
                <value>b</value>
            </set>
        </property>
    </bean>
    
        
    <bean id="ContentTypeBean" class="edu.wisc.my.webproxy.beans.SpringList" scope="prototype">
        <property name="wrappedList">
            <list>
                <value>text/html</value>
                <value>XHTML/1.0</value>
            </list>
        </property>
    </bean>
    
    <bean id="ConfigBean" class="edu.wisc.my.webproxy.beans.SpringList" scope="prototype">
        <property name="wrappedList">
            <list>
                <ref bean="GeneralConfigBean"/>
                <ref bean="PageCacheConfigBean"/>
                <ref bean="HttpHeaderConfigBean"/>
                <ref bean="StaticHtmlBean"/>
                <ref bean="HttpClientConfigBean"/>
                <ref bean="ClippingConfigBean"/>
                <ref bean="HTMLParserConfigBean"/>
            </list>
        </property>
    </bean>
    
    
    <bean id="GeneralConfigBean" class="edu.wisc.my.webproxy.beans.config.GeneralConfigImpl" scope="prototype">
        <property name="jsp">
            <value>/WEB-INF/jsp/generalConfig.jsp</value>
        </property>
    </bean>
    <bean id="HttpHeaderConfigBean" class="edu.wisc.my.webproxy.beans.config.HttpHeaderConfigImpl" scope="prototype">
        <property name="jsp">
            <value>/WEB-INF/jsp/httpHeaderConfig.jsp</value>
        </property>
    </bean>
    <bean id="StaticHtmlBean" class="edu.wisc.my.webproxy.beans.config.StaticHtmlConfigImpl" scope="prototype">
        <property name="jsp">
            <value>/WEB-INF/jsp/staticHtmlConfig.jsp</value>
        </property>
    </bean>
    <bean id="HttpClientConfigBean" class="edu.wisc.my.webproxy.beans.config.HttpClientConfigImpl" scope="prototype">
        <property name="jsp">
            <value>/WEB-INF/jsp/httpClientConfig.jsp</value>
        </property>
    </bean>
    <bean id="ClippingConfigBean" class="edu.wisc.my.webproxy.beans.config.ClippingConfigImpl" scope="prototype">
        <property name="jsp">
            <value>/WEB-INF/jsp/clippingConfig.jsp</value>
        </property>
    </bean>
    <bean id="HTMLParserConfigBean" class="edu.wisc.my.webproxy.beans.config.HtmlParserConfigImpl" scope="prototype">
        <property name="jsp">
            <value>/WEB-INF/jsp/htmlParserConfig.jsp</value>
        </property>
    </bean>
    <bean id="PageCacheConfigBean" class="edu.wisc.my.webproxy.beans.config.CacheConfigImpl" scope="prototype">
        <property name="jsp">
            <value>/WEB-INF/jsp/cacheConfig.jsp</value>
        </property>
    </bean>
    
    
    <bean id="PageCache" class="edu.wisc.my.webproxy.beans.cache.oscache.OsCachePageCache">
        <property name="cacheProperties">
            <props>
                <prop key="cache.memory">true</prop>
                <prop key="cache.capacity">64</prop>
                <prop key="cache.algorithm">com.opensymphony.oscache.base.algorithm.LRUCache</prop>
                <prop key="cache.blocking">false</prop>
                <prop key="cache.unlimited.disk">false</prop>
                <prop key="cache.persistence.class">edu.wisc.my.webproxy.beans.cache.oscache.SpringLocatingPersistenceListener</prop>
                <prop key="cache.persistence.spring.beanName">filteringPersistenceListener</prop>
            </props>
        </property>
    </bean>
    
    
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName"><value>${hibernate.connection.driver_class}</value></property>
        <property name="url"><value>${hibernate.connection.url}</value></property>
        <property name="username"><value>${hibernate.connection.username}</value></property>
        <property name="password"><value>${hibernate.connection.password}</value></property>
        
        <property name="initialSize"><value>8</value></property>
        <property name="maxActive"><value>128</value></property>
        <property name="maxIdle"><value>16</value></property>
        <property name="minIdle"><value>8</value></property>
        <property name="maxWait"><value>15000</value></property>
    </bean>
    
    <!-- ********** Portlet DAOs ********** -->
    
    <bean id="webProxyStateDao" class="edu.wisc.my.webproxy.beans.http.WebProxyStateJdbcDaoImpl">
    </bean>
    
    <!-- ********** JPA Beans ********** -->
    
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="jpaVendorAdapter" ref="jpaVendorAdapter" />
        <property name="persistenceUnitName" value="webProxyPersistence" />
    </bean>
    
    <!-- Adapater that can inject a cacheProvider into the hibernate entity manager -->
    <bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
        <property name="databasePlatform" value="${hibernate.dialect}" />
        <property name="showSql" value="true"/>
    </bean>
    
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
    
    
    <tx:annotation-driven transaction-manager="transactionManager" />
    
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" lazy-init="false">
        <property name="defaultPersistenceUnitName" value="webProxyPersistence" />
    </bean>
    
    
</beans>
